body {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

nav, footer {
    background-color: #0174b3;
    color: white;
}
